*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

:root{
--Green: hsl(75, 94%, 57%);
--White: hsl(0, 0%, 100%);
--Grey: hsl(0, 0%, 20%);
--DarkGrey: hsl(0, 0%, 12%);
--OffBlack: hsl(0, 0%, 8%);
}

body{
    background-color: var(--OffBlack);
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-content: center;
}

.container{
    background-color: var(--DarkGrey);
    color: var(--White);
    padding: 2em;
    margin: 1em;
    max-width: 400px;
    text-align: center;
    border-radius: 1px;
}

.container img{
    margin-bottom: .5em;
    width: 100px;
    border-radius: 50%;
}

.container h1{
    font-size: 1.75em;
}

.container .location{
    color: var(--Green);
    margin: .5em 0 1.5em;
    font-weight: 700;
}

.container ul{
    margin-top: 1.75em;
}

.container ul li:not(:last-child){
    margin-bottom: 1em;
}


.container ul li a {
    display: grid;
    background-color: var(--Grey);
    color:var(--White);
    padding: 1em;
    font-weight: 600;
    border-radius: .5em;

}

.container ul li a:hover{
    background-color: var(--Green);
    color: var(--OffBlack);
}